@page
@model Accionistas.Views.Acta.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Carta Poder</title>
    <script type="module" src="~/js/ActaPdfExport.js"></script>
</head> 
<body>
<div>
    <input type="button" value="" onclick="CartaPoder()">
</div>

</body>
</html>