@page
@model Accionistas.Views.Acta.Index


<!DOCTYPE html>

<html>
<head>
    <title>Carta Poder</title>
    <script type="module" src="~/js/site.js"></script>
    <script type="module" src="~/js/ActaPdfExport.js"></script>
</head>
<body>
    <div>
        <button id="GenerarCarta" type="button">GenerarCarta</button>
    </div>

</body>
</html>